.encore-dark-theme,
.encore-dark-theme .encore-base-set {
  --text-bright-accent: #d71e99;
  --text-negative: #f15e6c;
  --text-warning: #ffa42b;
  --text-positive: #de25ff;
  --text-announcement: #3d91f4;
  --essential-subdued: #727272;
  --essential-bright-accent: #f41dff;
  --essential-negative: #e91429;
  --essential-warning: #ffa42b;
  --essential-positive: #b51ed7;
  --essential-announcement: #0d72ea;
  --decorative-subdued: #292929;
}

.encore-dark-theme .encore-bright-accent-set {
  --background-base: #ff3aeb;
  --background-highlight: #fe1cfa;
  --background-press: #ce028d;
  --background-elevated-base: #fc15da;
  --background-elevated-highlight: #af1ed7;
  --background-elevated-press: #d82aff;
  --background-tinted-base: #d71ed4;
  --background-tinted-highlight: #d71eaf;
  --background-tinted-press: #d71eb2;
  --background-unsafe-for-small-text-base: #b21ed7;
  --background-unsafe-for-small-text-highlight: #ff21e9;
  --background-unsafe-for-small-text-press: #d71ea6;
  --text-base: #000;
  --text-subdued: #000;
  --text-bright-accent: #000;
  --text-negative: #000;
  --text-warning: #000;
  --text-positive: #000;
  --text-announcement: #000;
  --essential-base: #000;
  --essential-subdued: #000;
  --essential-bright-accent: #000;
  --essential-negative: #000;
  --essential-warning: #000;
  --essential-positive: #000;
  --essential-announcement: #000;
  --decorative-base: #000;
  --decorative-subdued: #8b1abc;
}

.Svg-sc-ytk21e-0.haNxPq {
  fill: #e70fc5 !important;
}
