.encore-dark-theme,
.encore-dark-theme .encore-base-set {
  --background-base: #ffffff;
  --background-highlight: #d3d6ff;
  --background-press: #ffffff;
  --background-elevated-base: #ffffff;
  --background-elevated-highlight: #ffffff;
  --background-elevated-press: #ffffff;
  --background-tinted-base: hsla(0, 0%, 100%, 0.07);
  --background-tinted-highlight: hsla(0, 0%, 100%, 0.1);
  --background-tinted-press: hsla(0, 0%, 100%, 0.04);
  --background-unsafe-for-small-text-base: #ffffff;
  --background-unsafe-for-small-text-highlight: #ffffff;
  --background-unsafe-for-small-text-press: #ffffff;
  --text-base: #000000;
  --text-subdued: #a7a7a7;
  --text-bright-accent: #1ed760;
  --text-negative: #f15e6c;
  --text-warning: #ffa42b;
  --text-positive: #1ed760;
  --text-announcement: #3d91f4;
  --essential-base: #fff;
  --essential-subdued: #727272;
  --essential-bright-accent: #1ed760;
  --essential-negative: #e91429;
  --essential-warning: #ffa42b;
  --essential-positive: #1ed760;
  --essential-announcement: #0d72ea;
  --decorative-base: #fff;
  --decorative-subdued: #292929;
}

.kmZeYl,
.SboKmDrCTZng7t4EgNoM,
.ZQftYELq0aOsg6tPbVbV,
.EZFyDnuQnx5hw78phLqP,
.QO9loc33XC50mMRUCIvf,
.BdcvqBAid96FaHAmPYw_,
input.QO9loc33XC50mMRUCIvf {
  background-color: #fff !important;
  color: #000 !important;
}

.EZFyDnuQnx5hw78phLqP {
  background-color: #ebedff !important;
}

.HkbHLcqgUfXruL5xVi28 {
  background: #eee;
}

.UyzJidwrGk3awngSGIwv,
.poz9gZKE7xqFwgk231J4,
.xWm_uA0Co4SXVxaO7wlB,
.ieTwfQ,
.xgmjVLxjqfcXK5BV_XyN,
.spotify__container--is-desktop body,
li[role="listitem"] > *,
li[role="listitem"] *,
li[role="listitem"] {
  color: #000 !important;
}

.Tzzq1pG_inwo_oSOdyjb {
  background-color: #fff;
}

.Kcb74zm1aMqGfPxTwO5s,
.Z35BWOA10YGn5uc9YgAp {
  box-shadow: 1px 1px 7px rgba(73, 71, 85, 0.2) !important;
}

[draggable] {
  color: #33363a !important;
}

.Type__TypeElement-sc-goli3j-0.bkjCej {
  color: #333638 !important;
}

.Type__TypeElement-sc-goli3j-0.eoWRdH,
h2.Type__TypeElement-sc-goli3j-0.fAJsTt.MfVrtIzQJ7iZXfRWg6eM {
  color: #fff !important;
}

.LunqxlFIupJw_Dkx6mNx {
  background-color: #f5faff !important;
}

.haNxPq {
  fill: black !important;
}

/* .jb9xD5ECTqKFK02qe3HZ {
  border: 1px solid #fff !important;
} */

.xYgjMpAjE5XT05aRIezb {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.5))),
    var(--background-noise) !important;
}

.HsbczDqu9qjcYr7EIdHR,
.CoLO4pdSl8LGWyVZA00t {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(255, 255, 255, 0.6)),
      to(var(--background-base))
    ),
    var(--background-noise) !important;
  background-image: linear-gradient(rgba(255, 255, 255, 0.6) 0, var(--background-base) 100%), var(--background-noise) !important;
}

._EShSNaBK1wUIaZQFJJQ {
  -webkit-box-shadow: 0 4px 60px rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 60px rgba(255, 255, 255, 0.5) !important;
  border: 1px solid #fff;
}

.y2UicQnlTq148rL8Y0jp {
  box-shadow: 0 4px 60px rgba(255, 255, 255, 0.5) !important;
}
.cuLHaM {
  background-color: #fff !important;
  border-top: 1px solid #eee !important;
}

.QO9loc33XC50mMRUCIvf {
  border: 1px solid #393d3f !important;
}

/* .bnCeva {
  color: #fff !important;
} */

.HsbczDqu9qjcYr7EIdHR {
  background-color: blue !important;
}

.g4PZpjkqEh5g7xDpCr2K {
  --card-image-border-radius: clamp(4px, (var(--column-width, 0px) - 32px) * 0.025, 8px);
  background-color: var(--card-color, #000);
  border-radius: var(--card-image-border-radius);
  -webkit-box-shadow: 0 8px 24px rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 24px rgba(255, 255, 255, 0.5);
}

.TywOcKZEqNynWecCiATc {
  --bg-color: #b9bdbe;
  --fg-color: var(--essential-bright-accent);
  --is-active-fg-color: #1db954;
}

.Z35BWOA10YGn5uc9YgAp .zXwER4Lsqq_e7fVVaPkZ {
  -webkit-box-shadow: 0 8px 24px rgba(255, 255, 255, 0.5) !important;
  box-shadow: 0 8px 24px rgba(255, 255, 255, 0.5) !important;
}

h1.dYGhLW {
  color: #fff;
}

.CmkY1Ag0tJDfnFXbGgju > img {
  filter: brightness(1.2) saturate(1.2);
}
.Type__TypeElement-sc-goli3j-0.ieTwfQ.RANLXG3qKB61Bh33I0r2,
.Type__TypeElement-sc-goli3j-0.eoWRdH > a {
  color: #fff !important;
}

.T1xI1RTSFU7Wu94UuvE6,
.EvIR4O7jOSbNmxtMdIQ0,
button.vnCew8qzJq3cVGlYFXRI {
  background-color: #ebeeff !important;
}
