video {
  display: none !important;
}

article.video {
  position: relative;
  overflow: hidden;
}

article.video .xyzq4qe {
  background-color: transparent;
}

article.video img[referrerpolicy="origin-when-cross-origin"] {
  display: none;
}

article.video>div:nth-child(1)>div:nth-child(2) {
  overflow: hidden;
  margin: 1px;
  border: none!important;
}

article.video  div[data-visualcompletion="ignore"]::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f4f4f4;
}

html.__fb-dark-mode article.video  div[data-visualcompletion="ignore"]::after {
  background-color: #1e1f20;
}

article.video button[type="button"] {
  display: none;
}

[aria-label="Toggle audio"],
[aria-label="Play"] {
  display: none!important;
}