section>.x78zum5>.xp7jhwk+span:nth-child(2) {
  display: none !important;
}

section ul._a9z6._a9z9._a9za {
  display: none !important;
}

svg[aria-label="Comment"] {
  display: none !important;
}

hr+.x5yr21d.xw2csxc.x1odjw0f.x1n2onr6 {
  display: none !important;
}

.x78zum5.x1q0g3np.xwib8y2.x1yrsyyn.x1xp8e9x.x13fuv20.x178xt8z.xdj266r.x11i5rnm.xat24cr.x1mh8g0r.xo1ph6p.x1pi30zi.x1swvt13 > span:nth-child(2):has(svg) {
  display: none!important;
}

article .x9f619.xjbqb8w.x78zum5.x168nmei.x13lgxp2.x5pf9jr.xo71vjh.x1uhb9sk.x1plvlek.xryxfnj.x1c4vz4f.x2lah0s.xdt5ytf.xqjyukv.x1qjc9v5.x1oa3qoh.x1nhvcw1:has(h3._a9zc) {
  display: none!important;
}

/* View 1 comment */
.x9f619.xjbqb8w.x78zum5:nth-child(3) .x2lah0s.xdt5ytf.xqjyukv.x1qjc9v5.x1oa3qoh.x1nhvcw1:nth-last-child(2) span[style="----base-line-clamp-line-height: 18px; --lineHeight: 18px;"] {
  display: none!important;
}

/* Comment section (opened post) */
._a9z6._a9za > div.xryxfnj:nth-child(2),
._a9z6._a9za > div.xryxfnj:nth-child(3) {
  display: none!important;
}

/* Reels Comment section */
.x1qhh985.xm0m39n.x9f619.xe8uvvx[role="button"][tabindex="0"]:has(div>svg>path[d="M20.656 17.008a9.993 9.993 0 1 0-3.59 3.615L22 22Z"]) {
  display: none!important;
}