likes
  section
  > .x9f619.xjbqb8w.x78zum5.x168nmei.x13lgxp2.x5pf9jr.xo71vjh.x1n2onr6.x1plvlek.xryxfnj.x1iyjqo2.x2lwn1j.xeuugli.x1q0g3np.xqjyukv.x6s0dn4.x1oa3qoh.x1nhvcw1,
.x9f619.xjbqb8w.x78zum5.x168nmei.x13lgxp2.x5pf9jr.xo71vjh.xr1yuqi.xkrivgy.x4ii5y1.x1gryazu.x1n2onr6.x1plvlek.xryxfnj.x1iyjqo2.x2lwn1j.xeuugli.xdt5ytf.x1a02dak.xqjyukv.x1cy8zhl.x1oa3qoh.x1nhvcw1 {
  display: none;
}

/* comments count  */
.x1lliihq.x1plvlek.xryxfnj.x1n2onr6.x193iq5w.xeuugli.x1fj9vlw.x13faqbe.x1vvkbs.x1s928wv.xhkezso.x1gmr53x.x1cpjm7i.x1fgarty.x1943h6x.x1i0vuye.xvs91rp.xo1l8bm.x1roi4f4.x10wh9bi.x1wdrske.x8viiok.x18hxmgj
  > span:nth-child(1) {
  display: none;
}

/* subscribers (profile page) */
ul.x78zum5.x1q0g3np.xieb3on > li:nth-child(2),
ul.x78zum5.x1q0g3np.xieb3on > li:nth-child(3) {
  display: none;
}

/* likes & comments on hover  */
ul._abpo > li {
  display: none;
}

/* comments likes */

button.hide_ls2 {
  display: none !important;
}

.x6s0dn4.xrvj5dj.x19g8pj0.x1dh5ka.xyamay9.x1l90r2v.x1mu97ne {
  display: none;
}

.x9f619.xjbqb8w.x78zum5.x168nmei.x13lgxp2.x5pf9jr.xo71vjh.x1n2onr6.x1plvlek.xryxfnj.x1iyjqo2.x2lwn1j.xeuugli.x1q0g3np.xqjyukv.x6s0dn4.x1oa3qoh.x1nhvcw1 {
  display: none;
}
