div.xw7yly9 div.x18dvoc8,
div>._aac4._aac6._aj3f._ajdu,
.x9f619.xjbqb8w.x78zum5.x168nmei.x13lgxp2.x5pf9jr.xo71vjh.xdj266r.x1e56ztr.x1uhb9sk.x1plvlek.xryxfnj.x1c4vz4f.x2lah0s.xdt5ytf.xqjyukv.x1qjc9v5.x1oa3qoh.x1nhvcw1,
.x9f619.x1lliihq.x10wlt62.x1n2onr6.x1hq5gj4.x1ejq31n.xd10rxx.x1sy0etr.x17r0tee.x1y1aw1k.x4uap5.xkhd6sd.xvbhtw8.x1lq5wgf.xgqcy7u.x30kzoy.x9jhf4c.x178xt8z.x11wr9rl.x1e3j9e7.x120q0s9.xw7yly9.xwib8y2.x18vkjtm {
  display: none !important;
}

@media only screen and (max-width: 640px) {
  [role="menu"].x1qjc9v5.x78zum5.xdt5ytf.x17j7krd {
    display: none!important;
  }

  [role="menu"].x1qjc9v5.x78zum5.xdt5ytf.x17j7krd + * {
    margin-top: -2rem;
  }

  .xmnaoh6 {
    margin-bottom: 0!important;
  }
}

/* 3.0.4 bugfix */

[data-pagelet="story_tray"] div:has(button._afxw) {
  display: none!important;
}