section>.x78zum5>.xp7jhwk+span:nth-child(2) {
  display: none !important;
}

section ul._a9z6._a9z9._a9za {
  display: none !important;
}

svg[aria-label="Comment"] {
  display: none !important;
}

hr+.x5yr21d.xw2csxc.x1odjw0f.x1n2onr6 {
  display: none !important;
}