.TywOcKZEqNynWecCiATc,
:root {
  --nav-bar-width: 300px;
  --progress-bar-height: 5px;
}

.tp8rO9vtqBGPLOhwcdYv + .Type__TypeElement-sc-goli3j-0 {
  margin-left: 5px;
}

button.vnCew8qzJq3cVGlYFXRI {
  width: 50px;
  height: 40px;
  border-radius: 10px;
}

div.player-controls__buttons svg {
  width: 18px;
  height: 18px;
}

button.vnCew8qzJq3cVGlYFXRI > svg {
  width: 20px;
  height: 20px;
}

div.player-controls__buttons {
  margin-top: 0px;
  margin: 0 0 3px;
  align-items: center;
}
